[submodule "roles/ansible-resolv"]
	path = roles/ansible-resolv
	url = git@github.com:ahuffman/ansible-resolv.git
[submodule "roles/ansible-sssd-ldap"]
	path = roles/ansible-sssd-ldap
	url = git@github.com:hellofresh/ansible-sssd-ldap.git
[submodule "roles/ansible-role-docker"]
	path = roles/ansible-role-docker
	url = git@github.com:geerlingguy/ansible-role-docker.git
[submodule "roles/ansible-freeipa-client"]
	path = roles/ansible-freeipa-client
	url = git@github.com:alvaroaleman/ansible-freeipa-client.git
